.icon-block {
	padding: 0 15px;
}

.icon-block .material-icons {
	font-size: inherit;
}

html,
body {
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-flow: column;
	background-color: #313131;
}

.tabs-content {
	height: 100% !important;
}

.tabs .indicator {
	bottom: unset;
	height: 3px;
}

nav {
	background-color: #111;
}

ul.tabs {
	background-color: #000;
}

.tabs,
.tab {
	line-height: 60px !important;
	height: 65px !important;
}

ul.tabs li a {
	color: #6eeeba !important;
}

li.indicator {
	background-color: #6eeeba !important;
}

.collection {
	border: unset;
}

.collection-header,
.collection-header .row {
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}

input#name {
	color: white;
}

.collection-header .row {
	margin-bottom: 0 !important;
}

.collection-body p {
	color: white;
	font-size: 30px !important;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50vh;
}